pool:
  vmImage: "Hosted VS2017"

trigger:
  batch: true
  branches:
    include:
      - master

pr:
  branches:
    include:
      - master
  paths:
    exclude:
      - README.md

steps:
- task: gittools.gitversion.gitversion-task.GitVersion@4
  displayName: GitVersion
  inputs:
    preferBundledVersion: false

- task: petersendev.dotnet-global-tool-installer.DotnetGlobalToolInstaller.DotnetGlobalToolInstaller@0
  displayName: 'install housework'
  inputs:
    name: housework

- script: 'housework author src/*.csproj -s build.ini -r'
  displayName: 'author csproj'

- task: DotNetCoreCLI@2
  displayName: 'build all'
  inputs:
    projects: src/storage.sln
    arguments: '-c release'

- task: DotNetCoreCLI@2
  displayName: 'unit tests'
  inputs:
    command: test
    projects: test/Storage.Net.Tests
    arguments: '-c release'

- task: CopyFiles@2
  displayName: 'copy generated nugets'
  inputs:
    SourceFolder: src
    Contents: '**/*.nupkg'
    TargetFolder: ' $(build.artifactstagingdirectory)'
    CleanTargetFolder: true
    OverWrite: true
    flattenFolders: true

- task: PublishBuildArtifacts@1
  displayName: 'publish nugets'
  inputs:
    ArtifactName: nuget